body{
    /* max-width: 1500px; */
}

header{
    /* background-color: blue; */
    width: 1300px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(180, 70, 70);
    max-width: 80%;
    height: 100%;
}

#logo{
    background-color: blueviolet;
    height: 30px;
    width: 50px;
}

#head-list{
    height: 30px;
    width: 100px;
}

#accesso{
    height: 30px;
    width: 50px;
    background-color: violet;
}