body{
    /* max-width: 1500px; */
}

header{
    /* background-color: blue; */
    width: 1300px;
    height: 100px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(180, 70, 70);
    max-width: 80%;
    height: 100%;
}

#logo{
    background-color: blueviolet;
    height: 30px;
    width: 50px;
}

#head-list{
    display: flex;
    /* height: 10%;
    width: 15%; */
    /* justify-content: space-around; */
    gap: 30px;
}

li{
    list-style-type: none;
     height: 30px;
     width: 40px;
     background-color: aqua;
}

#accesso{
    height: 30px;
    width: 50px;
    background-color: violet;
}

